@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.woff2") format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Medium.woff2") format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-SemiBold.woff2") format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Bold.woff2") format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Nunito Sans';
    src: url("../fonts/NunitoSans-Regular.woff2") format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url("../fonts/NunitoSans-SemiBold.woff2") format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url("../fonts/NunitoSans-Bold.woff2") format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}